{% if settings.use_breadcrumb %}
  {% unless template == 'index' %}
    <nav class="breadcrumb text-{{settings.breadcrumb_style}}" aria-label="breadcrumbs">
      <div class="container" style="font-size: 30px;">
        {% comment %}
        <h1>
        {% if product.title %}
        {{ product.title }}
        {% else %}
        {% if page_title %}
        {{ page_title }}
        {% else %}
        {{ collection.title }}{% endif %}
        {% endif %}
        </h1>
        {% endcomment %}
        {% if template contains 'product' %}
          {% comment %}
          <h1>{{ 'general.breadcrumbs.products' | t }}</h1>
          {% endcomment %}
          {% if collection %}
            <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
            <span aria-hidden="true" class="breadcrumb__sep">&#47;</span>
            {% if collection.handle %}
              {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
              {{ collection.title | link_to: url }}
            {% endif %}
          {% else %}
            {% capture url %}/collections/all{% endcapture %}
            <a href="{{url}}">{{ 'collections.toolbar.all' | t }}</a>
          {% endif %}

          <span aria-hidden="true" class="breadcrumb__sep">&#47;</span>
          <span>{{ product.title }}</span>


        {% elsif template contains 'collection' and collection.handle %}
          {% if template == 'list-collections' %}
              {% comment %}
              <h1>{{ 'general.breadcrumbs.all_collections' | t }}</h1>
              {% endcomment %}
            {% else %}
              {% comment %}
              <h1>{{ 'general.breadcrumbs.collection' | t }}</h1>
              {% endcomment %}
              <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>

              <span aria-hidden="true" class="breadcrumb__sep">&#47;</span>
              {% if current_tags %}
                {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
                {{ collection.title | link_to: url }}
                <span aria-hidden="true" class="breadcrumb__sep">&#47;</span>
                <span>{{ current_tags | join: " + " }}</span>
              {% else %}
                <span>{{ collection.title }}</span>

              {% endif %}
            {% endif %}
          {% elsif template == 'blog' %}
            {% comment %}
            <h1>{{ blog.title }}</h1>
            {% endcomment %}
            <a
              href="/"
              title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>

            <span aria-hidden="true" class="breadcrumb__sep">&#47;</span>
            {% if current_tags %}
              {{ blog.title | link_to: blog.url }}
              <span aria-hidden="true" class="breadcrumb__sep">&#47;</span>
              <span>{{ current_tags | join: " + " }}</span>
            {% else %}

              <span>{{ blog.title }}</span>

            {% endif %}

          {% elsif template == 'article' %}
            {% comment %}
            <h1>{{ article.title }}</h1>
            {% endcomment %}
            <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>

            <span aria-hidden="true" class="breadcrumb__sep">&#47;</span>
            {{ blog.title | link_to: blog.url }}
            <span aria-hidden="true" class="breadcrumb__sep">&#47;</span>
            <span>{{ article.title }}</span>

          {% elsif template contains 'page' %}
            {% comment %}
            <h1>{{ page.title }}</h1>
            {% endcomment %}
            <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>

            <span aria-hidden="true" class="breadcrumb__sep">&#47;</span>
            <span>{{ page.title }}</span>

          {% else %}
            {% if template == 'list-collections' %}
                {% comment %}
                <h1>{{ 'general.breadcrumbs.all_collections' | t }}</h1>
                {% endcomment %}
              {% else %}
                {% comment %}
                <h1>{{ page_title }}</h1>
                {% endcomment %}
                <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>

                <span aria-hidden="true" class="breadcrumb__sep">&#47;</span>
                <span>{{ page_title }}</span>
              {% endif %}

            {% endif %}
          </div>
        </nav>
      {% endunless %}
    {% endif %}