
{% if section.settings.enable_overlay %}
{% assign section_overlay = 'dt-sc-overlay' %}
{% endif %}
{% case section.settings.background_style %}
{% when 'default' %}
{% when 'parallax' %}
{%- assign background_style = 'data-speed="2"' %}
{% when 'fixed' %}
{%- assign background_style = 'data-speed="1"' %}
{% endcase %} 
{% if section.settings.show_background_image %}
{% assign lazyScript = "lazyload" %}
{% endif %}
<div class="dt-sc-section-wrapper {{lazyScript}} {{section_overlay}} {% if section.settings.background_style == 'parallax' %} parallax-initiated{% endif %}" style="{% render 'bg-color-image-padding' %}" {{background_style}} {% include 'bg_image' %}>  
  <div class="{% render 'container-settings' %}"> 
    <div class="row {{ section.settings.custom_class_name }}">
      {% render 'section-heading', class: section.id %}     
      <div class="dt-sc-slider-image">
        <div id="sliderTabs-{{ section.id }}-ctrls"></div>
        <div id="sliderTabs-{{ section.id }}-slider">
          {% for block in section.blocks %}
          <div class="top-data_block">              
            <div class="dt-sc-banner-content dt-sc-progress-content--{{ block.id }}">
              {% if block.settings.large != blank  %}
              <img src="{{ block.settings.large | img_url: 'master' }}" alt="{{ section.settings.heading }}" />
              {% else %}
              <img src="//via.placeholder.com/1920x900">
              {% endif %} 
              <div class="dt-sc-slider-content">                
                {% if block.settings.text != blank  %}  
                <p>{{ block.settings.text }}</p>
                {% endif %}                
                {% if block.settings.main_title != blank  %}  
                <h2>{{ block.settings.main_title }}</h2>
                {% endif %} 
                {% if block.settings.sub_title != blank  %}  
                <h4>{{ block.settings.sub_title }}</h4>
                {% endif %}  
                {% if block.settings.link != blank  %}  
                <a href="{{block.settings.link}}" class="dt-sc-btn">{{block.settings.link_text}}</a>
                {% endif %}  
              </div>
            </div>              
          </div>
          {% endfor %}              
        </div>
        <div id="sliderTabs-{{ section.id }}-nav">
          {% for block in section.blocks %}
          <div class="dt-sc-progress-tab">
            <div class="dt-sc-progress-wrapper">
              <div class="dt-sc-progress-content dt-sc-progress-content--{{ block.id }}">
                {% if block.settings.tab != blank  %}  
                <h4><p>{{ block.settings.tab }}</p><span class="dt-sc-on-progress"></span></h4>
                {% endif %}                     
              </div>              
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  #shopify-section-{{section.id}}.home-slider-with-tabs .dt-sc-heading .dt-sc-main-heading { color: var(--DTColor_Heading); color:{{ section.settings.section_heading_color }}; } 
  #shopify-section-{{section.id}}.home-slider-with-tabs .dt-sc-heading .dt-sc-sub-heading { color: var(--DTColor_Heading); color:{{ section.settings.section_sub_heading_color }}; } 
  #shopify-section-{{section.id}}.home-slider-with-tabs .dt-sc-heading .dt-sc-heading-description { color: var(--DTColor_Body); color:{{ section.settings.section_description_color }}; } 
  #shopify-section-{{section.id}}.home-slider-with-tabs .dt-sc-heading .dt-sc-btn { 
    background: var(--DT_Button_BG_Color);
      background:{{ section.settings.section_button_bg_color }}; 
      color: var(--DT_Button_Text_Color); 
        color:{{ section.settings.section_button_text_color }}; 
        }
  #shopify-section-{{section.id}}.home-slider-with-tabs .dt-sc-heading .dt-sc-btn:hover { 
    background: var(--DT_Button_BG_Hover_Color); 
      background:{{ section.settings.section_button_hover_bg_color }}; 
      color: var(--DT_Button_Text_Hover_Color); 
        color:{{ section.settings.section_button_hover_text_color }}; }

  #shopify-section-{{section.id}}.home-slider-with-tabs .dt-sc-overlay:before  { 
    color: var(--DTTertiaryColor); 
      color: {{ section.settings.background_color }};      
      background: currentcolor;   
      opacity: {{ section.settings.overlay_transparency }}; }


  #shopify-section-{{section.id}}.home-slider-with-tabs .home-slider-with-tabs .dt-sc-banner-content { position: relative; }

  #shopify-section-{{section.id}}.home-slider-with-tabs .dt-sc-slider-content { position: absolute; width: 100%; height: 100%; display: flex; flex-wrap: wrap;
    align-items: center; justify-content: center; top: 0; left: 0; flex-direction: column; z-index: 1;   
  }
  
    #shopify-section-{{section.id}}.home-slider-with-tabs .dt-sc-slider-content:before  { content: ""; display: block; position: absolute; left:0; width: 100%; top: 0;
    height: 100%; z-index: -1;
      color: var(--DTTertiaryColor); 
      color: {{ section.settings.slider_overlay_color }};      
      background: currentcolor;   
      opacity: {{ section.settings.slider_overlay_transparency }}; }

  #shopify-section-{{section.id}}.home-slider-with-tabs .dt-sc-slider-content > *,
  #shopify-section-{{section.id}}.home-slider-with-tabs .dt-sc-slider-content > *:not(:only-child) { margin:0; }
  #shopify-section-{{section.id}}.home-slider-with-tabs .dt-sc-slider-content > *:not(:last-child){ margin:0 0 15px 0; }

  #shopify-section-{{section.id}}.home-slider-with-tabs .dt-sc-progress-tab h4 p { color: var(--DTColor_Heading); color: {{section.settings.slider_progress_title_color}}; }
  
  .home-slider-with-tabs #sliderTabs-{{ section.id }}-nav .dt-sc-progress-tab h4 span.dt-sc-on-progress { 
    background: var(--DTTertiaryColor);
    background: {{section.settings.slider_progress_bar_color}}; }
  .home-slider-with-tabs #sliderTabs-{{ section.id }}-nav .dt-sc-progress-tab h4 span.dt-sc-on-progress:before { 
  background: var(--DTPrimaryColor);
    background: {{section.settings.slider_progress_bar_bg_color}};
  }
  
  .home-slider-with-tabs .dt-sc-banner-content h2,
  .home-slider-with-tabs .dt-sc-banner-content h4 { margin: 0; }
  .home-slider-with-tabs .dt-sc-banner-content h4 p {  margin-bottom: 0; padding: 0 10px; }  


  {% for block in section.blocks %}

  #shopify-section-{{section.id}}.home-slider-with-tabs .dt-sc-progress-content--{{ block.id }} h2 { color: var(--DTColor_Heading); color: {{block.settings.slider_heading_color}}; 
    font-size: {{ block.settings.main_title_size }}px; }
  #shopify-section-{{section.id}}.home-slider-with-tabs .dt-sc-progress-content--{{ block.id }} h4 { color: var(--DTColor_Heading); color: {{block.settings.slider_sub_heading_color}}; 
  font-size: {{ block.settings.title_size }}px;}
  #shopify-section-{{section.id}}.home-slider-with-tabs .dt-sc-progress-content--{{ block.id }} p { color: var(--DTColor_Body); color: {{block.settings.slider_description_color}}; 
  font-size:{{ block.settings.text_size }}px; }
  #shopify-section-{{section.id}}.home-slider-with-tabs .dt-sc-progress-content--{{ block.id }} .dt-sc-btn { 
    background-color: {{block.settings.slider_button_bg_color}}; color: {{block.settings.slider_button_text_color}}; }
  #shopify-section-{{section.id}}.home-slider-with-tabs .dt-sc-progress-content--{{ block.id }} .dt-sc-btn:hover { 
    background-color: {{block.settings.slider_button_hover_bg_color}}; color: {{block.settings.slider_button_hover_text_color}}; }
  
  
  @media screen and (max-width: 1199px) {
    
    #shopify-section-{{section.id}}.home-slider-with-tabs .dt-sc-progress-content--{{ block.id }} h2 { font-size: calc(.9 * {{ block.settings.main_title_size }}px); }
  #shopify-section-{{section.id}}.home-slider-with-tabs .dt-sc-progress-content--{{ block.id }} h4 { font-size: calc(.9 * {{ block.settings.title_size }}px);}
    
  }
  
  @media screen and (max-width: 767px) {
    
    #shopify-section-{{section.id}}.home-slider-with-tabs .dt-sc-progress-content--{{ block.id }} h2 { font-size: calc(.65 * {{ block.settings.main_title_size }}px); }
  #shopify-section-{{section.id}}.home-slider-with-tabs .dt-sc-progress-content--{{ block.id }} h4 { font-size: calc(.65 * {{ block.settings.title_size }}px);}
    
  }

  {% endfor %}

  .home-slider-with-tabs .dt-sc-slider-image { width: 100%; position: relative; float: left; }

  .home-slider-with-tabs #sliderTabs-{{ section.id }}-ctrls .slick-arrow { position: absolute; top: 50%; transform: translateY(-50%); z-index: 1; cursor: pointer; 
    font-size: 30px; }
  .home-slider-with-tabs #sliderTabs-{{ section.id }}-ctrls .prev-arrow { left: 30px; }
  .home-slider-with-tabs #sliderTabs-{{ section.id }}-ctrls .next-arrow { right: 30px; }

  .home-slider-with-tabs #sliderTabs-{{ section.id }}-nav .dt-sc-progress-tab { width:auto !important; display:inline-block; float: none; 
    transition: var(--DTBaseTransition); }

  .home-slider-with-tabs #sliderTabs-{{ section.id }}-nav .dt-sc-progress-tab h4 { cursor: pointer; padding: 0 14px;
    width: auto; height: auto; display: block; margin: 0; text-transform: initial; font-weight: 600; line-height: 1.2; background: 0 0 !important; opacity: .5; 
    font-size: 16px; transition: var(--DTBaseTransition); margin-bottom: 20px; min-width: 100px;
  }

  .home-slider-with-tabs #sliderTabs-{{ section.id }}-nav { position: absolute; bottom: 0; left: 0; width: 100%; text-align: center; }
  .home-slider-with-tabs #sliderTabs-{{ section.id }}-nav .slick-track { transform: none !important; text-align: center; }

  .home-slider-with-tabs #sliderTabs-{{ section.id }}-nav .dt-sc-progress-tab .slick-current h4,
  .home-slider-with-tabs #sliderTabs-{{ section.id }}-nav .dt-sc-progress-tab:hover h4 { opacity: 1; }

  .home-slider-with-tabs #sliderTabs-{{ section.id }}-nav .dt-sc-progress-tab h4 span.dt-sc-on-progress { width: 100%; height: 2px; display: block; margin: 8px 0 0; 
    transition: var(--DTBaseTransition); position: relative;
  }

  .home-slider-with-tabs #sliderTabs-{{ section.id }}-nav .dt-sc-progress-tab h4 span.dt-sc-on-progress:before { content: ''; width: 100%; height: 100%; display: block;
    transform-origin: left; transform: scaleX(0);
  }

  .home-slider-with-tabs #sliderTabs-{{ section.id }}-nav .dt-sc-progress-tab.slick-current h4 { opacity: 1; }
  .home-slider-with-tabs #sliderTabs-{{ section.id }}-nav .dt-sc-progress-tab.slick-current h4 span.dt-sc-on-progress:before { 
    animation: 2.35s linear forwards running progress-horizontal;
  }
  
  {% if section.settings.disable_arrows != blank %}
  
  .home-slider-with-tabs #sliderTabs-{{ section.id }}-ctrls { display: none; }
  
  {% endif %}
  
  .home-slider-with-tabs #sliderTabs-{{ section.id }}-ctrls { height: 100%; position: absolute; width: 100%; top: 0; left: 0; }
  .home-slider-with-tabs #sliderTabs-{{ section.id }}-ctrls .slick-arrow { margin: 0; width: 40px; height: 40px; }
  .home-slider-with-tabs #sliderTabs-{{ section.id }}-ctrls .slick-arrow.prev-arrow:after,
  .home-slider-with-tabs #sliderTabs-{{ section.id }}-ctrls .slick-arrow.next-arrow:after { content: "" !important; display: block; background: none; 
    width: 12px; height: 12px; transform: rotate(45deg); position: absolute; }

  .home-slider-with-tabs #sliderTabs-{{ section.id }}-ctrls .slick-arrow.prev-arrow:after { right: 10px; border-left: 1px solid; border-bottom: 1px solid; }
  .home-slider-with-tabs #sliderTabs-{{ section.id }}-ctrls .slick-arrow.next-arrow:after { left: 10px; border-right: 1px solid; border-top: 1px solid; }

  @keyframes progress-horizontal {
    from { transform:scaleX(0) }
    to { transform:scaleX(1) }
  }
  
  
  @media screen and (max-width: 1199px) {
  
  #shopify-section-{{section.id}}.home-slider-with-tabs .dt-sc-slider-content > *:not(:last-child){ margin:0 0 8px 0; }
    
  }

  @media screen and (max-width: 767px) {

    .home-slider-with-tabs h4 p { display: none; }
    
    .home-slider-with-tabs #sliderTabs-{{ section.id }}-nav .dt-sc-progress-tab h4 { min-width: 75px; }

  }

  @media screen and (max-width: 576px) {

/*     .home-slider-with-tabs p ~ h2 { margin-bottom: 8px; }
    .home-slider-with-tabs p ~ h4 { display: none; } */
    
    .home-slider-with-tabs .dt-sc-banner-content h4 { display: none; }
    
    #shopify-section-{{section.id}}.home-slider-with-tabs .dt-sc-slider-content > *:not(:last-child){ margin:0 0 0 0; }

    .home-slider-with-tabs #sliderTabs-{{ section.id }}-nav .dt-sc-progress-tab h4 { min-width: 60px; }


  }

</style>


<script type="text/javascript">  
  var sliderTabs = function(){     
    $('#sliderTabs-{{ section.id }}-slider').not('.slick-initialized').slick({
      slidesToShow: 1,
      slidesToScroll: 1, 
      arrows: true,
      appendArrows: '#sliderTabs-{{ section.id }}-ctrls',
      prevArrow: '<a class="prev-arrow dt-sc-btn"></a>',
      nextArrow: '<a class="next-arrow dt-sc-btn"></a>',
      fade: true,
      asNavFor: '#sliderTabs-{{ section.id }}-nav',
      autoplay:true,
      autoplaySpeed:2500,
      adaptiveHeight: true      
      });
    $('#sliderTabs-{{ section.id }}-nav').not('.slick-initialized').slick({
      slidesToShow: {{section.blocks.size}},
      slidesToShow: 6,
      slidesToScroll: 1,
      asNavFor: '#sliderTabs-{{ section.id }}-slider',
      dots: false,
      focusOnSelect: true,
      autoplay:true,
      autoplaySpeed:2500,
      adaptiveHeight: true,
      responsive: [
      {
      breakpoint: 1024,
      settings: {
      slidesToShow: {{section.blocks.size}},
      slidesToScroll: 1,
      infinite: true,
      dots: false
      }
      }
      // You can unslick at a given breakpoint now by adding:
      // settings: "unslick"
      // instead of a settings object
      ]

      });
  }

  $(document).ready(function(){
    sliderTabs();
  })

  $(document)
  .on('shopify:section:load', sliderTabs)
  .on('shopify:section:unload', sliderTabs)
</script>

{% schema %}
{
"name": "Slider with tabs",
"class": "index-section home-slider-with-tabs",
"max_blocks": 4,
"settings": [
{
"type": "checkbox",
"id": "full",
"label": "Show Full width"
},
{
"type": "checkbox",
"id": "spacing_both_ends",
"label": "Enable Right & Left Spacing (Works only on Fullwidth)",
"default": false
},
{
"type": "text",
"id": "padding",
"label": "Style value (Padding)",
"default":"0,0",
"info":"Top(px),Bottom(px)"
},
{
"type": "text",
"id": "margin",
"label": "Style value (Margin)",
"default":"0,0",
"info":"Top(px),Bottom(px)"
},
{
"type": "checkbox",
"id": "show_background_image",
"label": "Enable Background image"
},
{
"type": "image_picker",
"id": "background_image",
"label": "Background image",
"info": "Size: 1920x1280"
},
{
"type": "select",
"id": "background_style",
"label": "Background Style",
"default": "default",
"options": [
{
"value": "default",
"label": "Default"
},
{
"value": "parallax",
"label": "Parallax"
},
{
"value": "fixed",
"label": "Fixed"
}
]
},
{
"type": "checkbox",
"id": "enable_overlay",
"label": "Enable Background Color (Used as Background Image Overlay Color too)"
},
{
"type": "color",
"id": "background_color",
"label":"Background color"
},
{
"type": "text",
"id": "overlay_transparency",
"label": "Overlay Transparency (0.01 to 1)",
"default": "0.5"
},
{
"type": "text",
"id": "section_heading",
"label": "Main Heading",
"default": "Home slider with tabs"
},  
{
"type": "text",
"id": "section_sub_heading",
"label": "Sub Heading",
"default": "Sub Heading"
},  
{
"type": "text",
"id": "section_description",
"label": "Description",
"default": "Use this text to share the information which you like!."
},  
{
"type": "text",
"id": "section_button_text",
"label": "Link text"
},
{
"type": "url",
"id": "section_button_link",
"label": "Link URL"
},
{
"type": "header",
"content": "Section Color settings"
},
{
"type": "color",
"id": "section_heading_color",
"label": "Heading color"
},    
{
"type": "color",
"id": "section_sub_heading_color",
"label": "Sub heading color"
},   
{
"type": "color",
"id": "section_description_color",
"label": "Description color"
},  
{
"type": "color",
"id": "section_button_bg_color",
"label": "Button bg color"
},   
{
"type": "color",
"id": "section_button_text_color",
"label": "Button text color"
},   
{
"type": "color",
"id": "section_button_hover_bg_color",
"label": "Button hover bg color"
},   
{
"type": "color",
"id": "section_button_hover_text_color",
"label": "Button hover text color"
},
{
"type": "select",
"id": "heading_position",
"label": "Heading Position",
"options": [
{
"value": "text-center",
"label": "Center"
},
{
"value": "text-start",
"label": "Left"
},
{
"value": "text-end",
"label": "Right"
}
]
}, 
{
"type": "header",
"content": "Slider Color settings"
},
{
"type": "color",
"id": "slider_overlay_color",
"label": "Slider Overlay color"
}, 
{
"type": "text",
"id": "slider_overlay_transparency",
"label": "Slider Overlay Transparency (0.01 to 1)",
"default": "0.25"
},
{
"type": "color",
"id": "slider_progress_title_color",
"label": "Slider Progress Title color"
},
{
"type": "color",
"id": "slider_progress_bar_color",
"label": "Slider Progress Bar color"
},
{
"type": "color",
"id": "slider_progress_bar_bg_color",
"label": "Slider Progress Bar Bg color"
},
{
"type" : "checkbox",
"id" : "disable_arrows",
"label" : "Disable Navigation Arrows",
"default": true
},
{
"type": "header",
"content": "Custom class"
},
{
"type": "text",
"id": "custom_class_name",
"label": "Add your custom class name here"
}
],
"blocks": [
{
"type": "Image",
"name":"Slider Tab",
"settings": [
{
"type": "image_picker",
"id": "large",
"label": "Image"
},
{
"type": "text",
"id": "tab",
"label": "Tab",
"default": "Title" 
},
{
"type": "text",
"id": "main_title",
"label": "Main Heading",
"default": "Main Heading" 
},
{
"type": "text",
"id": "main_title_size",
"label": "Main Heading Font Size",
"default": "50" 
},
{
"type": "text",
"id": "sub_title",
"label": "Sub Heading",
"default": "Sub Heading" 
},
{
"type": "text",
"id": "sub_title_size",
"label": "Sub Heading Font Size",
"default": "30" 
},
{
"type": "textarea",
"id": "text",
"label": "Description",
"default": "Description"          
},
{
"type": "textarea",
"id": "text_size",
"label": "Description Font Size",
"default": "16"          
}, 
{
"type": "text",
"id": "link_text",
"label": "Link Text",
"default": "Shop Now"
},
{
"type": "url",
"id": "link",
"label": "Link"          
},
{
"type": "header",
"content": "Slider Color settings"
},
{
"type": "color",
"id": "slider_heading_color",
"label": "Heading color"
},    
{
"type": "color",
"id": "slider_sub_heading_color",
"label": "Sub heading color"
},   
{
"type": "color",
"id": "slider_description_color",
"label": "Description color"
},  
{
"type": "color",
"id": "slider_button_bg_color",
"label": "Button bg color"
},   
{
"type": "color",
"id": "slider_button_text_color",
"label": "Button text color"
},   
{
"type": "color",
"id": "slider_button_hover_bg_color",
"label": "Button hover bg color"
},   
{
"type": "color",
"id": "slider_button_hover_text_color",
"label": "Button hover text color"
}
]
}
],
"presets": [
{
"name": "Slider with tabs",
"category": "Slider"
}
]
}
{% endschema %}  