{%- if section.blocks.size > 0 -%}
<div class="widget index-sidebar-our-brands">    
  {% if section.settings.title != blank %}
  <h5 class="sidebar_title">{{ section.settings.title | escape  }}</h5>  
  {% endif %}
  <ul class="dt-sc-column three-column">
    {%- for block in section.blocks -%}
      <li class="logo-bar__item" {{ block.shopify_attributes }}>
        {%- if block.settings.link != blank -%}
          <a href="{{ block.settings.link }}">
        {%- endif -%}

          {%- if block.settings.image != blank -%}
            {{ block.settings.image | img_url: '160x160', scale: 2 | img_tag: block.settings.image.alt }}
          {%- else -%}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}

        {%- if block.settings.link != blank -%}
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</div>
{%- endif -%}

<style>
 div[class*=index-sidebar] li.logo-bar__item{ text-align:center; border: 1px solid var(--DTColor_Border) !important; }
</style>
{% schema %}
{
  "name": "Sidebar brands",
  "class": "index-section index-our-brands",
  "max_blocks": 10,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Logo list"
    }    
  ],
  "blocks": [
    {
      "type": "logo_image",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ]  
}
{% endschema %}